[submodule "_pretzel"]
	path = _pretzel
	url = https://github.com/xforever1313/pretzel.git
[submodule "_includes"]
	path = _includes
	url = https://github.com/xforever1313/StaticWebsitesCommon.git
[submodule "_WebsitePlugin/WebsiteTests/ActivityPubSchema"]
	path = _WebsitePlugin/WebsiteTests/ActivityPubSchema
	url = https://github.com/redaktor/ActivityPubSchema.git
