---
layout: nil
exclude_from_navbar: true
---

@using Pretzel.Logic.Templating.Context
@Include( "htaccess.cstxt", Model, typeof( PageContext ) )

# Redirect webfingers to the bots webfinger page
RewriteCond %{REQUEST_URI} ^/.well-known/webfinger$
RewriteCond %{QUERY_STRING} ^resource=acct:@(Model.Site.Config["actpub_username"])@@@(Model.Site.Config["urlnohttp"])$
RewriteRule ^(.*)$ https://%{HTTP_HOST}/activitypub/webfinger [R=301,L]