---
layout : layout
---

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

@{
    object catName = Model.Page.Bag["category"];
}

<article id="w3-container">
    <header class="w3-container w3-blue-grey">
        <h1>Category: @catName</h1>
    </header>
    <div class="w3-padding w3-white w3-display-container">
        <ul>
            @{
                foreach( var cat in @Model.Site.Categories )
                {
                    if( cat.Name.Equals( catName ) )
                    {
                        foreach( var post in cat.Posts )
                        {
                            @:<li><a href="@post.Url">@post.Title</a></li>
                        }
                    }
                }
            }
        </ul>
    </div>
    <footer class="w3-container w3-blue-grey">
        <p>&nbsp;</p>
    </footer>
</article>
