---
layout: layout
---

<article id="w3-container">
    <header class="w3-container w3-blue-grey">
        <h1>@Model.Page.Title</h1>
    </header>
    <div class="w3-padding w3-white w3-display-container">
        @Model.Content
    </div>
    <footer class="w3-container w3-blue-grey">
        <p>&nbsp;</p>
    </footer>
</article>
